<div class="container">
  <h1>Quotes</h1>
  <%= link_to "Add new quote", new_quote_path %>
  <div class="row">
    <div class="container">
      <% @quotes.each do |quote| %>
        <%= render 'quote_row', quote: quote %>
      <% end %>
    </div>
  </div>
  <%= will_paginate %>
</div>